pkgbase = python-yte
	pkgdesc = YAML template engine with Python expressions
	pkgver = 1.7.0
	pkgrel = 1
	url = https://github.com/koesterlab/yte
	arch = any
	license = MIT
	makedepends = python-poetry-core
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python-dpath
	depends = python-plac
	depends = python-pyyaml
	source = https://files.pythonhosted.org/packages/source/y/yte/yte-1.7.0.tar.gz
	sha256sums = d9cadcb597128490356a8260842fd71bf3145fa4ee633ecc4023f53a6b3f646d

pkgname = python-yte
