pkgbase = python-llvmlite
	pkgdesc = Lightweight LLVM python binding for writing JIT compilers
	pkgver = 0.39.1
	pkgrel = 1
	url = https://github.com/numba/llvmlite
	arch = i686
	arch = x86_64
	license = BSD
	makedepends = cython
	makedepends = llvm11>=11.0.0
	makedepends = llvm11<12.0.0
	depends = python
	depends = llvm11-libs>=11.0.0
	depends = llvm11-libs<12.0.0
	source = llvmlite-0.39.1.tar.gz::https://github.com/numba/llvmlite/archive/refs/tags/v0.39.1.tar.gz
	sha256sums = a5cad150e9afc8b3132b27b1c44bd7279e43983d05cd2e2abf1f45bd5bcf140b

pkgname = python-llvmlite
